.typing-indicator {	
    will-change: transform;
    width: auto;
    border-radius: 50px;
    padding: 5px 8px 8px 30px; 
    display: table;
    // margin: 0 auto;
    position: relative;
    animation: 2s bulge infinite ease-out;
    margin-left: 42px;
}

.typing-indicator::after {
    height: 10px;
    width: 10px;
    left: -10px;
    bottom: -10px;
}
.typing-indicator span {
    height: 5px;
    width: 5px;
    float: left;
    background-color: rgba(255,255,255,0.26);
    display: block;
    border-radius: 50%;
    opacity: 0.4;

    &:not(:last-child){
        margin: 0 5px 0 0;
    }
}
.typing-indicator span:nth-of-type(1) {
    animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
    animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
    animation: 1s blink infinite 0.9999s;
}
@keyframes blink {
    50% {
        opacity: 1;
   }
}
@keyframes bulge {
    50% {
        transform: scale(1.05);
   }
}
