@use 'fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-background: var(--dark-background);
    --main-search-background: var(--dark-search-background);
    --main-sidebar-background: var(--dark-sidebar-background);
    --main-accent: var(--accent-blue);

    --dark-background: 0 0 0;
    --dim-background: 22 33 44;
    --light-background: 255 255 255;

    --dark-search-background: 32 35 39;
    --dim-search-background: 39 51 64;
    --light-search-background: 239 243 244;

    --dark-sidebar-background: 22 24 28;
    --dim-sidebar-background: 30 39 50;
    --light-sidebar-background: 247 249 249;

    --accent-yellow: 255 213 0;
    --accent-blue: 29 155 240;
    --accent-pink: 249 26 130;
    --accent-purple: 120 87 255;
    --accent-orange: 255 122 0;
    --accent-green: 0 184 122;
  }

  .custom-scroll-bar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scroll-bar::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
  }

  .custom-scroll-bar::-webkit-scrollbar-thumb {
    background: #3A3A3A;
    border-radius: 5px;
  }

  .custom-scroll-bar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .rating svg.goldenSvg path ,  .rating:hover svg path {
    fill: goldenrod;
    stroke:goldenrod;
  }
  a,
  input,
  button,
  textarea {
    -webkit-tap-highlight-color: transparent;
  }

  .explore-slider .slick-arrow.slick-next::before{
    content: '';
     background-image: url("../../public/assets/right-slick-arrow.png");
     background-repeat:no-repeat;
     background-size: cover ;
     width: 40px;
     height: 40px;
     display: block;
  }
  .explore-slider .slick-arrow.slick-prev::before{
    content:'';
    background-image: url("../../public/assets/left-slick-arrow.png");
    background-repeat:no-repeat;
    background-size: cover ;
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 58px;
  }

  .list-slider .slick-arrow.slick-next::before {
    content: '';
    background-image: url("../../public/assets/right-slick-arrow.png");
     background-repeat:no-repeat;
     background-size: cover ;
     width: 20px;
     height: 20px;
     display: block;
    //  display: inline-flex;
  }

  .list-slider .slick-arrow.slick-prev::before {
    content: '';
    background-image: url("../../public/assets/left-slick-arrow.png");
    background-repeat:no-repeat;
    background-size: cover ;
    display: block;
    width: 20px;
    height: 20px;
    // display: inline-flex;
    margin-left: 12px;
    // z-index: 10;
  }
  .white-stroke path{
    stroke:white
  }
  .blue-gradient{
    // background: linear-gradient(324deg, rgba(64, 59, 172, 0.08) 0%, rgba(88, 72, 188, 0.48) 82.08%);
    background: linear-gradient(to bottom right, #6150B9, #29244e);
  }
  .filter-bg-gradient{
    background: linear-gradient(to right, #202020 , #0b0b0b)
  }
  .filter-bg-gradient p{
    background: linear-gradient(to right ,#989898, #373737);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .custom-checkbox.custom-checkbox-circle{
    @apply mb-0
  }
  .custom-checkbox.custom-checkbox-circle label::before{
      background-color: transparent;
      @apply rounded border border-white border-opacity-25 mr-2
  }
  .custom-checkbox.custom-checkbox-circle label::after{
    top:5px
  }
  .bookmark-img-text .slick-dots{
     @apply absolute bottom-3
  }
  .bookmark-img-text .slick-dots li{
     @apply m-0     
  }
  .bookmark-img-text .slick-dots li button{
      @apply p-0
     }
  .bookmark-img-text .slick-dots li button::before , .bookmark-img-text .slick-dots li.slick-active button::before{
    @apply text-white;
  }
  .custom-checkbox.custom-checkbox-circle label{
    @apply w-5 h-5
  }
  .custom-checkbox.custom-checkbox-circle input:checked + label::before{
    @apply bg-[#5848BC] border-[#5848BC]
  }
  .add-to-collection:has(div input[type="checkbox"]:checked) .custom-checkbox{    
    background-color: rgba(0,0,0,0.5);
  }

  .custom-checkbox {
    display: block;
    margin-bottom: 15px;

    input {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      cursor: pointer;
    }

    label {
      position: relative;
      cursor: pointer;
    }

    label:before {
      content:'';
      -webkit-appearance: none;
      background-color: rgba(255,255,255,0.5);
      border: 1px solid white;
      padding: 11px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      border-radius: 50%;
    }

    input:checked + label::before{
      @apply border-[#8C7DD0] bg-[#8C7DD0]
    }

    input:checked + label:after  {
      content: '';    
      top: 7px;
      background: url("../../public/assets/checked-icon.png") no-repeat center;
      width: 10.7px;
      @apply h-2 left-2 absolute block bg-cover bg-no-repeat
    }
  } 

  .explore-gallery-filter {
    .slick-slide{
      @apply mr-3
    }

    .slick-arrow.slick-next::before{
      content: '';
      background-image: url("../../public/assets/arrow-right.png");
      @apply block w-6 h-6 bg-cover bg-no-repeat
    }
    .slick-arrow.slick-prev::before{
      @apply hidden
    }
  }

  body {
    @apply hover-animation bg-main-background font-twitter-chirp text-light-primary dark:text-dark-primary;
  }
}

@layer components {
  .hover-animation {
    @apply transition-colors duration-200;
  }

  .custom-button {
    @apply hover-animation rounded-full p-3 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .custom-underline {
    @apply hover-animation underline decoration-transparent outline-none transition [text-decoration-thickness:1px] 
           hover:decoration-inherit focus-visible:decoration-inherit;
  }

  .main-tab {
    @apply outline-none focus-visible:ring-2 focus-visible:ring-[#878a8c] focus-visible:transition-shadow 
           focus-visible:duration-200 dark:focus-visible:ring-white;
  }

  .accent-tab {
    @apply main-tab #{'focus-visible:!ring-main-accent/80'};
  }

  .accent-bg-tab {
    @apply focus-visible:bg-main-accent/10;
  }

  .dark-bg-tab {
    @apply focus-visible:bg-light-primary/10 dark:focus-visible:bg-dark-primary/10;
  }

  .blur-picture {
    @apply hover-animation accent-tab rounded-full transition hover:brightness-75 active:brightness-100;
  }

  .trim-alt {
    @apply overflow-hidden text-ellipsis break-all [display:-webkit-box] [-webkit-line-clamp:1] [-webkit-box-orient:vertical];
  }

  .hover-card {
    @apply hover:bg-black/[0.03] focus-visible:bg-black/[0.03] dark:hover:bg-white/[0.03]
           dark:focus-visible:bg-white/[0.03];
  }

  .menu-container {
    @apply z-10 rounded-md bg-main-background outline-none 
           [box-shadow:#65778633_0px_0px_15px,_#65778626_0px_0px_3px_1px] 
           dark:[box-shadow:#ffffff33_0px_0px_15px,_#ffffff26_0px_0px_3px_1px];
  }
}
