.card-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.frame {
  position: relative;
  width:434px;
  height:735px;
  z-index: 1;
}

.icons {
  margin-top: 3vh;
  user-select: none;
  z-index: 1;
}

.icons > svg {
  width: 10vh;
  height: 10vh;
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.icons > svg:nth-child(1) { fill: #fb4f68; margin-right: 2vh; }
.icons > svg:nth-child(2) { fill: #4dca93; }
.icons > svg > path:nth-child(1) { fill: #fff; }

.card {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  // color: #f1f1f1;
  // border-radius: 10px;
  // overflow: hidden;
  user-select: none;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  touch-action: none;
}

.card .is-like {
  width: 100%;
  height: 100%;
  position: absolute;

}
.animate-smooth{
 transform: all 2s ease;
}
.card .is-like::after {
  position: absolute; 
  transition: all .5s ease-in;
  width:max-content;
  height: max-content;
  padding: 17px 32px;
  font-size: 40px;
  font-weight: 600;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
  opacity: 0;
}

.card .like::after {
  content: "LIKE";
  color: #14B94C;
  border: 2px solid #14B94C;
  left: 30%;
  top: 30px;
  transform: translateX(-50%) rotate(-20deg);
  opacity: 1;
}

.card .nope::after {
  content: "NOPE";
  color: #D02A0E;
  border: 2px solid #D02A0E;
  right: -13%;
  top: 30px;
  opacity: 1;
  transform: translateX(-50%) rotate(20deg);
}

.card .bottom {
  width: 100%;
  height: 25%;
  background: linear-gradient(to top, #00000080, #00000000);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 7%;
  font-weight: 400;
}

.card .bottom .title > span:nth-child(1) {
  font-size: 2em;
  font-weight: 700;
  margin-right: 0.2em;
}

.card .bottom .title > span:nth-child(2) {
  font-size: clamp(13px, 1.5em, 25px);
}

.card .bottom .title > span:nth-child(2) > b {
  font-size: 0.6em;
  margin-right: 0.2em;
}

.card .bottom .info {
  margin: 3% 0 0 2%;
  font-size: clamp(10px, 1.1em, 20px);
}

@media screen and (max-height: 540px) {
  .frame {
    width: 54vh;
    height: 81vh;
    font-size: 13px;
  }
}

@media screen and (max-height: 440px) {
  .frame {
    font-size: 8px;
  }
}

.card.animation-added-left{
    transition: all .9s ease-in;
    transform: translate3d(-2629.78px, 383.761px, 0px) rotate(-58.5deg) !important;
}

.card.animation-added-right{
  transition: all .9s ease-in;
  transform: translate3d(2629.78px, 356.17px, 0px) rotate(58.5deg) !important; 
}
.card.animation-added-top{
  transition: all .9s ease-in;
  transform: translate3d(0px, -1006.17px, 0px) rotate(0) !important; 
}



